@font-face {
    font-family: digital-7;
    src: url(digital-7/digital-7mono.ttf);
}

legend {
    font-weight: bold;
}

.input {
    font-weight: bold;
    font-size: 1.4em;
}

/*Reloj*/
#hora {
    color: red;
    font-family: digital-7;
    font-size: 5em;
    text-align: center;
}

#fecha {
    color: red;
    font-family: digital-7;
    font-size: 3em;
    text-align: center;
}

/*Coordenadas, general*/
#divcoord input {
    margin-left: 0.5em;
    margin-right: 1em;
}

/*Perímetro, general*/
#divperim {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 150px;
    grid-row-gap: 5px;
}

/*Paneles*/
#paneles {
    display: grid;
    grid-template-columns: 150px 300px;
    grid-row-gap: 5px;
}

.span2 {
    grid-column: span 2;
}

/*Faroles*/
#faroles {
    display: grid;
    grid-template-columns: 450px;
    grid-row-gap: 5px;
}

/*Horizontal, escritorio*/
@media(orientation: landscape){
    
    /*Reloj*/
    fieldset, #hora, #fecha {
        width: 60%;
        margin: auto;
        margin-top: 5px;
    }

    .input {
        width: 150px;
    }

    /*Coordenadas*/
    #over {
        display: grid;
        grid-template-columns: repeat(4, 18%);
    }

    #neth {
        display: grid;
        grid-template-columns: repeat(4, 18%);
    }

}

/*Vertical, móviles*/
@media(orientation: portrait){
    
    fieldset {
        padding-left: 5px;
        padding-right: 5px;
    }

    .input {
        width: 33%;
    }

    /*Coordenadas*/
    #over {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    #neth {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .tag {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .tagX, .tagY, .tagZ {
        grid-row: 2;
    }

    .tag > input {
        grid-row: 3;
    }

}

/*Calculadora*/
#divCalcu {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 50px 150px;
    grid-row-gap: 5px;
    column-gap: 0.5em;
}

#oper {
    width: fit-content;
    font-weight: bold;
    font-size: 1.6em;
}

#calcularCalcu, #limpiarCalcu {
    width: auto;
    font-weight: bold;
    font-size: large;
    grid-column: 1 / span 3;
}

#result {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 260px;
    grid-row-gap: 5px;
}