#hora, #fecha {
    visibility: hidden;
    height: 0px;
}


#coordenadas {        
    #overworld, #nether {
        display: grid;
        grid-template-columns: 33% 33% 33%;

        .tag {
            grid-column: 1 / span 3;
        }

        // Los input se salían del div
        .input {
            width: 100%;
            box-sizing:border-box;
        }
        
    }
}

#perimetro {
    #contPerim {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;

        .grid-item {
            .input {
                width: 80%;
            }
        }

        #result {
            grid-column: 1 / span 2;
        }
    }
}


#contPaneles, #contFaroles {
    display: grid;

    .grid-item {
        display: grid;
        grid-template-columns: 40% 48% 12%;
        justify-content: center;
        align-items: center;
        
        .input {
            width: 85%;
        }
        
        .icon {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            justify-self: left;
        }
    }
}

