@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7/digital-7mono.ttf);
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/minecraft/minecraft.ttf);
}

@import "movil";

$colorFondo: #2e2e2e;
$colorTexto: #e4e4e4;
$colorRojo: red;
$colorReadonly: darkgray;

$fuenteTexto: Verdana, Tahoma, sans-serif;

body {
    background-color: $colorFondo;
    color: $colorTexto;
    font-family: $fuenteTexto;

    h1 {
        font-family: minecraft;
        font-size: 24px;
        font-weight: normal;
    }

    input[type=number]{
        font-family: inherit;
        font-weight: 600;
        font-size: 1rem;
    }

    input[readonly] {
        background-color: $colorReadonly;
    }
}

/*Reloj*/
#hora {
    color: $colorRojo;
    font-family: digital-7;
}

#fecha {
    color: $colorRojo;
    font-family: digital-7;
}

